.adver1{
    background-image: url('../../../assets/advertising/kia1.jpg');
}

.adver2{
    background-image: url('../../../assets/advertising/kia2.jpg');
}

.adver3{
    background-image: url('../../../assets/advertising/kia3.jpg');
}